[project]
	description = Testing of Github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RistoPakanen
[access "refs/for/refs/*"]
	read = group user/RistoPakanen
	push = group user/RistoPakanen
	label-Code-Review = -2..+2 group user/RistoPakanen
	label-Verified = -1..+1 group user/RistoPakanen
	rebase = group user/RistoPakanen
	removeReviewer = group user/RistoPakanen
	submit = group user/RistoPakanen
[access "refs/heads/*"]
	read = group user/RistoPakanen
	create = group user/RistoPakanen
	push = +force group user/RistoPakanen
	pushMerge = group user/RistoPakanen
[access "refs/tags/*"]
	push = +force group user/RistoPakanen
	pushTag = group user/RistoPakanen
	pushSignedTag = group user/RistoPakanen
